<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uk.co.senab.photup"
	android:installLocation="auto"
	android:versionCode="1210"
	android:versionName="1.2.1" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="11" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<!-- Required permission to use Google Play Store donations -->
	<uses-permission
		android:name="com.android.vending.BILLING" />

	<application
		android:name=".PhotupApplication"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:logo="@drawable/ic_logo"
		android:theme="@style/Theme.Photup" >
		<activity
			android:name=".MainActivity"
			android:noHistory="false"
			android:theme="@android:style/Theme.NoDisplay" >
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />

				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".PhotoSelectionActivity"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>
		<activity
			android:name=".UploadActivity"
			android:label="@string/upload_title"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>
		<activity
			android:name=".PhotoViewerActivity"
			android:theme="@style/Theme.Photup.FullscreenOverlay"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>
		<activity
			android:name=".LoginActivity"
			android:theme="@style/Theme.Sherlock.NoActionBar" >
			<intent-filter>
				<action
					android:name="photup.intent.action.NEW_PERMISSIONS" />

				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".LicencesActivity"
			android:label="@string/libraries" />
		<activity
			android:name=".SettingsActivity"
			android:label="@string/settings" />
		<activity
			android:name=".ActionSendActivity"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoDisplay" >
			<intent-filter>
				<action
					android:name="android.intent.action.SEND" />
				<action
					android:name="android.intent.action.SEND_MULTIPLE" />

				<category
					android:name="android.intent.category.DEFAULT" />

				<data
					android:mimeType="image/*" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".receivers.PhotoWatcherReceiver" >
			<intent-filter>
				<action
					android:name="com.android.camera.NEW_PICTURE" />
				<action
					android:name="android.hardware.action.NEW_PICTURE" />

				<data
					android:mimeType="image/*" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="photup.intent.action.PHOTO_TAKEN" />
			</intent-filter>
		</receiver>
		<receiver
			android:name=".receivers.ConnectivityReceiver" >
			<intent-filter>
				<action
					android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<service
			android:name=".service.PhotoUploadService" >
			<intent-filter>
				<action
					android:name="photup.intent.action.UPLOAD_ALL" />
			</intent-filter>
		</service>

		<!-- DONATION LIB -->
		<activity
			android:name="org.donations.DonationsActivity"
			android:excludeFromRecents="true"
			android:label="Donations"
			android:launchMode="singleTask"
			android:theme="@style/Theme.Sherlock.Dialog" />

		<!-- - Google Play Store donations -->
		<service
			android:name="org.donations.google.BillingService" />

		<receiver
			android:name="org.donations.google.BillingReceiver" >
			<intent-filter>
				<action
					android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action
					android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action
					android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>
	</application>

</manifest>