<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uk.co.senab.photup"
	android:installLocation="auto"
	android:versionCode="1100"
	android:versionName="1.1" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="11" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".PhotupApplication"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:logo="@drawable/ic_logo"
		android:theme="@style/Theme.Photup" >
		<activity
			android:name=".MainActivity"
			android:noHistory="false"
			android:theme="@android:style/Theme.NoDisplay" >
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />

				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".PhotoSelectionActivity"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>
		<activity
			android:name=".UploadActivity"
			android:label="@string/upload_title"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>
		<activity
			android:name=".PhotoViewerActivity"
			android:theme="@style/Theme.Photup.FullscreenOverlay"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>
		<activity
			android:name=".LoginActivity"
			android:theme="@style/Theme.Sherlock.NoActionBar" >
		</activity>
		<activity
			android:name=".LicencesActivity"
			android:label="@string/libraries" />
		<activity
			android:name=".SettingsActivity"
			android:label="@string/settings" />

		<receiver
			android:name=".receivers.PhotoWatcherReceiver" >
			<intent-filter>
				<action
					android:name="com.android.camera.NEW_PICTURE" />
				<action
					android:name="android.hardware.action.NEW_PICTURE" />

				<data
					android:mimeType="image/*" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="photup.intent.action.PHOTO_TAKEN" />
			</intent-filter>
		</receiver>
		<receiver
			android:name=".receivers.ConnectivityReceiver" >
			<intent-filter>
				<action
					android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<service
			android:name=".service.PhotoUploadService" >
			<intent-filter>
				<action
					android:name="photup.intent.action.UPLOAD_ALL" />
			</intent-filter>
		</service>
	</application>

</manifest>